* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 16px auto;
}

.form {
  padding: 16px;
  margin: 16px;
  display: flex;
  justify-content: space-evenly;
}
.itemlist {
  width: 60%;
  margin: auto;
}
h2 {
  margin: auto;
  width: 60%;
}
